<div class="banner">
	{{#if image}}
	<div class="banner__img">
		<img src="{{image.src}}" alt="{{image.alt}}" class="banner__img-item">
	</div>
	{{/if}}
	<div class="banner__content">
		<div class="wrap">
			{{#if heading}}
				<h1 class="h1 banner__heading">{{heading}}</h1>
			{{/if}}
			{{#if paragraph}}
				<p class="banner__paragraph">{{paragraph}}</p>
			{{/if}}
			{{#if buttons}}
			<div class="banner__buttons">
				{{#each bannerButtons}}
					<a href={{this.href}} class="btn banner__button">{{this.buttonText}}</a>
				{{/each}}
			</div>
			{{/if}}
		</div>
	</div>
</div>