<header class="header">
	<div class="header__top">
		<div class="wrap">
			<div class="header__top-container">
				{{#if topText}}
					<span class="header__top-text">{{topText}}</span>
				{{/if}}
				{{#if numbers}}
					<a href="{{numbers.href}}" class="header__top-numbers numbers-big">{{numbers.text}}</a>
				{{/if}}
				<ul class="header__socials">
					{{#if icon}}
						{{#each icon}}
						<li class="header__socials-item">
							{{#if this.link}}
								<a href="{{this.link.href}}" class="header__socials-link"
								{{#ifEquals this.link.target "_blank"}}
								target="_blank" rel="noopener noreferrer"{{/ifEquals}}
								>
								<span class="header__socials-icon font-ico-{{this.link.svg}}"></span>
								</a>
							{{/if}}
						</li>
						{{/each}}
					{{/if}}
				</ul>
			</div>
		</div>
	</div>
	<div class="header__bottom">
		<div class="wrap">
			<div class="header__bottom-container">
				{{#if logo}}
					<a href="{{logo.href}}" class="header__logo">
						<img src="{{logo.img}}" alt="{{logo.alt}}" class="header__logo-img">
					</a>
				{{/if}}
				<nav class="header__navigation js-navigation">
					<ul class="header__list">
						{{#if item}}
							{{#each item}}
								<li class="header__item js-dropdown-item">
									{{#if this.link}}
										<a href="{{this.link.href}}" class="header__link">{{this.link.text}}</a>
									{{/if}}
									{{#if dropdown}}
										<button type="button" class="header__btn js-dropdown-btn">
											{{dropdown.btn}}
											<span class="header__btn-icon font-ico-chevron-down"></span>
										</button>
										<div class="header__dropdown js-dropdown">
											<ul class="header__dropdown-list js-dropdown-list">
												{{#if dropdown.dropdownItem}}
													{{#each dropdown.dropdownItem}}
														<li class="header__dropdown-item">
															{{#if this.dropdownLink}}
																<a href="{{this.dropdownLink.href}}" class="header__dropdown-link link link-small">{{this.dropdownLink.text}}</a>
															{{/if}}
														</li>
													{{/each}}
												{{/if}}
											</ul>
										</div>
									{{/if}}
								</li>
							{{/each}}
						{{/if}}
					</ul>
				</nav>
				<button type="button" class="header__menu js-header-menu">
					<span class="header__menu-line"></span>
					<span class="header__menu-line"></span>
					<span class="header__menu-line"></span>
				</button>
			</div>
		</div>
	</div>
</header>