<!DOCTYPE html>
<html lang="{{data.language}}">

<head>
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">
	<meta charset="utf-8">

	{{#if data.seo}}
		<title>{{data.seo.seoTitle}}</title>
		<meta name="description" content="{{data.seo.seoDescription}}">
		<meta name="keywords" content="{{data.seo.seoKeywords}}">
		<link rel="canonical" href="{{data.seo.canonicalLink}}">
		{{#each data.seo.alternateLanguagesLinks}}
			<link rel="alternate" hreflang="{{this.languageCulture}}" href="{{this.url}}">
		{{/each}}
		{{#if data.seo.hideFromSearchEngines}}
			<meta name="robots" content="noindex, nofollow">
			<meta name="googlebot" content="noindex, nofollow">
		{{else}}
			<link rel="preconnect" href="https://www.googletagmanager.com">
			<link rel="dns-prefetch" href="https://www.googletagmanager.com">
			<meta name="robots" content="index, follow">
			<meta name="googlebot" content="index, follow">
		{{/if}}
	{{/if}}

	{{#if data.openGraph}}
		<meta property="og:type" content="website">
		<meta property="og:url" content="{{data.openGraph.canonicalUrl}}">
		<meta property="og:locale" content="{{data.openGraph.locale}}">
		<meta property="og:site_name" content="{{data.openGraph.siteName}}">
		<meta property="og:title" content="{{data.openGraph.title}}">
		<meta property="og:description" content="{{data.openGraph.description}}">
		{{#if data.openGraph.image}}
			<meta property="og:image" content="{{data.openGraph.image.url}}">
			<meta property="og:image:type" content="image/{{data.openGraph.image.type}}">
			<meta property="og:image:width" content="{{data.openGraph.image.width}}">
			<meta property="og:image:height" content="{{data.openGraph.image.height}}">
			<meta property="og:image:alt" content="{{data.openGraph.image.alternateText}}">
		{{/if}}
	{{/if}}

	<!-- main css file -->
	<link rel="stylesheet" href="{{getPath}}css/style.min.css{{{cssVersion}}}">

	{{#if (isProduction) }}
	<!-- Google Tag Manager -->
	<script>(function (w, d, s, l, i) {
			w[l] = w[l] || [];
			w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
			var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : '';
			j.async = true;
			j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl;
			f.parentNode.insertBefore(j, f);
		})(window, document, 'script', 'dataLayer', 'XXX-XXXXXX');</script>
	<!-- End Google Tag Manager -->
	{{/if}}

	<!-- global js file -->
	<script defer src="{{getPath}}js/global.min.js{{{globalScriptVersion}}}"></script>

	{{#if (compare data.cookieCivic "===" true) }}
		{{> cookie }}
	{{/if}}

	<link href="favicon.ico" rel="icon">
</head>

<body class="{{#if (isMultilanguage)}}lang-{{language}} {{/if}}{{bodyCssClass}}">
	{{#if (isProduction) }}
	<!-- Google Tag Manager -->
	<noscript>
		<iframe src="//www.googletagmanager.com/ns.html?id=XXX-XXXXXX" height="0" width="0"
			style="display:none;visibility:hidden"></iframe>
	</noscript>
	<!-- End Google Tag Manager -->
	{{/if}}

	{{> @partial-block }}
</body>

</html>