<div class="form-short">
	<div class="wrap wrap--inner">
		{{#if title}}
			<h2 class="form-short__title h2">{{title}}</h2>
		{{/if}}
		{{#if subtitle}}
			<span class="form-short__subtitle h3">{{subtitle}}</span>
		{{/if}}
		{{#if form}}
			<form class="form-short__form">
				<div class="form-short__form-inner-container">
				{{#each form.input}}
					<div class="form-short__input-container">
						<label class="form-short__input-label{{#if mandatory}} asterix{{/if}}" for="{{this.label}}">{{this.labelText}}
							<span class="sr-only">{{this.labelSrOnly}}</span>
						</label>
						<input class="form-short__input" type="{{this.type}}" id="{{this.Id}}" name="{{this.name}}">
					</div>
				{{/each}}
					</div>
				{{#if form.textArea}}
					<label class="form-short__textarea-label" for="{{form.textArea.label}}">{{form.textArea.labelText}}
						<span class="sr-only">{{form.textArea.srOnly}}</span>
					</label>
					<textarea class="form-short__textarea mb-lg" name="{{form.textArea.name}}" id="{{form.textArea.id}}"></textarea>
				{{/if}}
				{{#if form.bnt}}
					<button class="form-short__btn btn" type="submit">{{form.bnt}}</button>
				{{/if}}
			</form>
		{{/if}}
	</div>
</div>
