@model Norbs.Core.ViewModels.Partials.Layout.HeaderViewModel

<header class="header">
    <div class="header__top">
        <div class="wrap">
            <div class="header__top-container">
                @if (!string.IsNullOrWhiteSpace(Model.HeaderTitle))
                {
                    <span class="header__top-text">@Model.HeaderTitle</span>
                }
                @if (!string.IsNullOrWhiteSpace(Model.HeaderPhoneNumber))
                {
                    <a href="tel:@Model.HeaderPhoneNumber" class="header__top-numbers numbers-big">@Model.HeaderPhoneNumber</a>
                }
                <ul class="header__socials">
                    @if (!string.IsNullOrWhiteSpace(Model.Facebookurl))
                    {
                        <li class="header__socials-item">

                            <a href="@Model.Facebookurl" class="header__socials-link socials-link" target="_blank" rel="noopener noreferrer">
                                <span class="header__socials-icon socials-icon font-ico-facebook"></span>
                            </a>
                        </li>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.TwitterUrl))
                    {
                        <li class="header__socials-item">

                            <a href="@Model.TwitterUrl" class="header__socials-link socials-link" target="_blank" rel="noopener noreferrer">
                                <span class="header__socials-icon socials-icon font-ico-twitter"></span>
                            </a>
                        </li>
                    }
                    @if (!string.IsNullOrWhiteSpace(Model.YoutubeUrl))
                    {
                        <li class="header__socials-item">

                            <a href="@Model.YoutubeUrl" class="header__socials-link socials-link" target="_blank" rel="noopener noreferrer">
                                <span class="header__socials-icon socials-icon font-ico-youtube"></span>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="wrap">
            <div class="header__bottom-container">
                @if (Model.Logo != null && !string.IsNullOrWhiteSpace(Model.Logo?.Url))
                {
                    <a href="/" class="header__logo">
                        <img height="80" src="@Model.Logo.Url" alt="@Model.Logo.AlternateText" class="header__logo-img">
                    </a>
                }
                @if (Model.NavigationItems != null && Model.NavigationItems.Count > 0)
                {
                    <nav class="header__navigation js-navigation">
                        <ul class="header__list">
                            @foreach (var navigationItem in Model.NavigationItems)
                            {
                                <li class="header__item js-dropdown-item">
                                    <a href="@navigationItem.Url" class="header__btn js-dropdown-btn">
                                        @navigationItem.Title
                                        @if (navigationItem.Children != null && navigationItem.Children.Any())
                                        {
                                            <span class="header__btn-icon font-ico-chevron-down"></span>
                                        }
                                    </a>
                                    @if (navigationItem.Children != null && navigationItem.Children.Any())
                                    {
                                        <div class="header__dropdown js-dropdown">
                                            <ul class="header__dropdown-list js-dropdown-list">
                                                @foreach (var childItem in navigationItem.Children)
                                                {
                                                    <li class="header__dropdown-item">
                                                        <a href="@childItem.Url()" class="header__dropdown-link link link-small">@childItem.Name</a>
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                </li>
                            }
                        </ul>
                    </nav>
                }
                <button type="button" class="header__menu js-header-menu">
                    <span class="header__menu-line"></span>
                    <span class="header__menu-line"></span>
                    <span class="header__menu-line"></span>
                </button>
            </div>
        </div>
    </div>
</header>
